body {
  background: #eef3ff;
  font-family: Arial;
}

.container {
  width: 320px;
  margin: 80px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 12px rgba(0,0,0,0.1);
  text-align: center;
}

h2 {
  color: #1a4fc2;
  margin-bottom: 15px;
}

input {
  width: 92%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 10px;
  background: #1a4fc2;
  color: white;
  border: none;
  border-radius: 6px;
}

.msg {
  color: red;
}
